# This file can be copied to .env in the same directory to customize some of the
# behaviour of the docker-compose.yml file
#
# Note: The variables marked (Required) must be set in your .env file

# Choose from the available stack profiles
#  <empty> or unset         -->   xilinx-hwserver, smartnic-unpack, smartnic-hw, smartnic-fw, smartnic-p4
#  smartnic-mgr-user        -->   default + smartnic-devbind + smartnic-dpdk (empty DPDK container, user application must open vfio device)
#  smartnic-dpdk            -->   *deprecated* alias for smartnic-mgr-user -- will be removed
#  smartnic-mgr-vfio-unlock -->   default + smartnic-devbind + smartnic-vfio-unlock (python program opens vfio device)
#COMPOSE_PROFILES=
#COMPOSE_PROFILES=smartnic-dpdk
#COMPOSE_PROFILES=smartnic-mgr-user
#COMPOSE_PROFILES=smartnic-mgr-vfio-unlock

# (Optional) (Recommended)
# Append your username to the compose project name
#  - This helps to avoid collisions in docker object names when multiple users are working on the same system
COMPOSE_PROJECT_NAME=sn-stack-${USER}

# (Optional)
# Set this variable if you want to pull the xilinx-labtools-docker image from a remote registry rather than building locally
#LABTOOLS_IMAGE_URI=wharf.es.net/ht/xilinx-labtools-docker:30136-g1dadef71

# (Optional)
# Set this variable if you want to pull the esnet-smartnic-fw image from a remote registry rather than building locally
#SMARTNIC_FW_IMAGE_URI=wharf.es.net/ht/esnet-smartnic-fw:28728-ga8155293

# (Optional)
# Set this variable if you want to pull the smartnic-dpdk-docker image from a remote registry rather than building locally
#SMARTNIC_DPDK_IMAGE_URI=wharf.es.net/ht/smartnic-dpdk-docker:34635-g2745d783

# (Optional)
# Choose a specific JTAG cable (and thus a specific U280 card) to take control of
# If this is commented out, it will default to "*" which just chooses the first JTAG cable it finds
# which is exactly what you want if you only have a single JTAG cable in your system.
#
#   Discover the address using lsusb
#   $ sudo lsusb -v -d 0403:6011 | grep iSerial
#   iSerial                 3 21770205K01Y
#
# Note: An extra letter "A" must be appended to the serial number to get it to match in vivado labtools
#HW_TARGET_SERIAL=21770205K01YA

# (Optional)
# Choose a specific TCP port for the Xilinx HW Server to listen on.  Default is 3121.
# This option should be used when running multiple stacks on a single host so that
# each stack's HW Server listens on a unique port, avoiding conflict.
#HW_SERVER_PORT=50001

# (Required)
# Used to select PCIe device that the application stack should bind against
#
#   Discover the addresses using lspci
#            $ lspci -Dd 10ee:
#            0000:d8:00.0 Memory controller: Xilinx Corporation Device 903f
#            0000:d8:00.1 Memory controller: Xilinx Corporation Device 913f
#            |  | || || |
#   Domain --++++ || || |
#   Bus ----------++ || |
#   Device ----------++ |
#   Function -----------+
#
# Note: The PCIe function (the ".0" or ".1") is left off of this variable
#FPGA_PCIE_DEV=0000:d8:00
