#ifndef {{ intf_h_def }}
#define {{ intf_h_def }}

#include "vitisnetp4drv-intf.h"

#ifdef __cplusplus
extern "C" {
#endif

extern const struct vitis_net_p4_drv_intf vitis_net_p4_drv_intf_{{ ip_name }};

#ifdef __cplusplus
} /* extern "C" */
#endif

#endif /* {{ intf_h_def }} */

